body{
    margin: 0;
   background: #f3a;
}

.box{
    width: 500px;
    height: 300px;
    background: #fff8;
    margin: 10px;
    border: 3px solid black;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    margin-top: 1em;
    box-sizing: content-box;
    background-size: 100%;
}

.default-box{
    box-sizing: content-box;
    padding: 30px; 
}

.new-box{
    box-sizing: border-box;
    padding: 2em;  
     
}