h1{
    color: red;
}
ul{
    color: grey;
}
.falta{
    color: aqua;
}
#secreto{
    color: aquamarine;
}

/*
para definir estilo de una class punto antes de su nombre
para definir estilo de id almohadilla antes de su nombre

*/